CREATE DATABASE [Restaurant Management]
USE [Restaurant Management]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/2/2025 10:08:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[FullName] [nvarchar](1000) NOT NULL,
	[Email] [nvarchar](1000) NULL,
	[Tell] [nvarchar](200) NULL,
	[DateCreated] [smalldatetime] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 10/2/2025 10:08:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[FoodID] [int] NOT NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 10/2/2025 10:08:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[TableID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Discount] [float] NULL,
	[Tax] [float] NULL,
	[Status] [bit] NOT NULL,
	[CheckoutDate] [smalldatetime] NULL,
	[Account] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/2/2025 10:08:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 10/2/2025 10:08:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[ID] [int] NOT NULL IDENTITY(1,1),
	[Name] [nvarchar](1000) NOT NULL,
	[Unit] [nvarchar](100) NOT NULL,
	[FoodCategoryID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Notes] [nvarchar](3000) NULL,
 CONSTRAINT [PK_Food] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/2/2025 10:08:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL ,
	[RoleName] [nvarchar](1000) NOT NULL,
	[Path] [nvarchar](3000) NULL,
	[Notes] [nvarchar](3000) NULL,
 CONSTRAINT [PK_ROle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleAccount]    Script Date: 10/2/2025 10:08:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAccount](
	[RoleID] [int] NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[Actived] [bit] NOT NULL,
	[Notes] [nvarchar](3000) NOT NULL,
 CONSTRAINT [PK_RoleAccount] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table01]    Script Date: 10/2/2025 10:08:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table01](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NULL,
	[Status] [int] NOT NULL,
	[Capacity] [int] NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated]) VALUES (N'admin', N'123456', N'Nguyễn Văn A', N'admin2gmail.com', N'0912345678', CAST(N'2025-01-08T00:00:00' AS SmallDateTime))
INSERT [dbo].[Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated]) VALUES (N'cashier', N'cashier99', N'Lê Văn C', N'cashier@gmail.com', N'0988777666', CAST(N'2025-01-22T00:00:00' AS SmallDateTime))
INSERT [dbo].[Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated]) VALUES (N'staff01', N'staff123', N'Trần Thị B', N'staff01@gmail.com', N'0911223344', CAST(N'2024-12-14T00:00:00' AS SmallDateTime))
GO
SET IDENTITY_INSERT [dbo].[BillDetail] ON
INSERT [dbo].[BillDetail] ([ID], [InvoiceID], [FoodID], [Quantity]) VALUES (1, 1, 1, 2)
INSERT [dbo].[BillDetail] ([ID], [InvoiceID], [FoodID], [Quantity]) VALUES (2, 2, 1, 2)
INSERT [dbo].[BillDetail] ([ID], [InvoiceID], [FoodID], [Quantity]) VALUES (3, 1, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[BillDetail] OFF
SET IDENTITY_INSERT [dbo].[Bills] ON
INSERT [dbo].[Bills] ([ID], [Name], [TableID], [Amount], [Discount], [Tax], [Status], [CheckoutDate], [Account]) VALUES (1, N'HD1', 2, 100000, 10000, 800, 1, CAST(N'2025-08-07T00:00:00' AS SmallDateTime), N'admin')
INSERT [dbo].[Bills] ([ID], [Name], [TableID], [Amount], [Discount], [Tax], [Status], [CheckoutDate], [Account]) VALUES (2, N'HD2', 3, 150000, 15000, 1000, 1, CAST(N'2025-10-05T00:00:00' AS SmallDateTime), N'staff01')
GO
SET IDENTITY_INSERT [dbo].[Bills] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Type]) VALUES (1, N'Đồ ăn', 2)
INSERT [dbo].[Category] ([ID], [Name], [Type]) VALUES (2, N'Nước uống', 1)
INSERT [dbo].[Category] ([ID], [Name], [Type]) VALUES (3, N'Tráng miệng ', 3)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Food] ON 
GO
INSERT [dbo].[Food] ([ID], [Name], [Unit], [FoodCategoryID], [Price], [Notes]) VALUES (1, N'Phở bò', N'Tô', 1, 40000, N'Không cay')
INSERT [dbo].[Food] ([ID], [Name], [Unit], [FoodCategoryID], [Price], [Notes]) VALUES (2, N'Trà Đào', N'Ly', 2, 30000, N'Nhiều đá')
INSERT [dbo].[Food] ([ID], [Name], [Unit], [FoodCategoryID], [Price], [Notes]) VALUES (3, N'Bánh Flan', N'Hũ', 3, 15000, N'Có thêm caramel')
GO
SET IDENTITY_INSERT [dbo].[Food] OFF
SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role] ([ID], [RoleName], [Path], [Notes]) VALUES (1, N'Admin', N'/admin/dashboard', N'Toàn quyền hệ thống')
INSERT [dbo].[Role] ([ID], [RoleName], [Path], [Notes]) VALUES (2, N'Staff', N'/satff/home', N'Nhân viên phục vụ')
INSERT [dbo].[Role] ([ID], [RoleName], [Path], [Notes]) VALUES (3, N'Cashier', N'/cashier/bills', N'Nhân viên thu ngân')
GO
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[RoleAccount] ON
INSERT [dbo].[RoleAccount] ([RoleID], [AccountName], [Actived], [Notes]) VALUES (1, N'admin', 1, N'Tài khoản admin hệ thống')
INSERT [dbo].[RoleAccount] ([RoleID], [AccountName], [Actived], [Notes]) VALUES (3, N'admin', 1, N'Nhân viên thu ngân')
INSERT [dbo].[RoleAccount] ([RoleID], [AccountName], [Actived], [Notes]) VALUES (2, N'staff01', 1, N'Nhân viên chính thức')
GO
SET IDENTITY_INSERT [dbo].[RoleAccount] OFF
SET IDENTITY_INSERT [dbo].[Table01] OFF
INSERT [dbo].[Table01] ([ID], [Name], [Status], [Capacity]) VALUES (1, N'Bàn 1', 1, 4)
INSERT [dbo].[Table01] ([ID], [Name], [Status], [Capacity]) VALUES (2, N'Bàn 2', 4, 6)
INSERT [dbo].[Table01] ([ID], [Name], [Status], [Capacity]) VALUES (3, N'Bàn 3', 2, 10)
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_Bills] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Bills] ([ID])
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_BillDetail_Bills]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_Food] FOREIGN KEY([FoodID])
REFERENCES [dbo].[Food] ([ID])
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_BillDetail_Food]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Table] FOREIGN KEY([TableID])
REFERENCES [dbo].[Table01] ([ID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Table]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [FK_Food_Category] FOREIGN KEY([FoodCategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [FK_Food_Category]
GO
ALTER TABLE [dbo].[RoleAccount]  WITH CHECK ADD  CONSTRAINT [FK_RoleAccount_Account] FOREIGN KEY([AccountName])
REFERENCES [dbo].[Account] ([AccountName])
GO
ALTER TABLE [dbo].[RoleAccount] CHECK CONSTRAINT [FK_RoleAccount_Account]
GO
ALTER TABLE [dbo].[RoleAccount]  WITH CHECK ADD  CONSTRAINT [FK_RoleAccount_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[RoleAccount] CHECK CONSTRAINT [FK_RoleAccount_Role]
GO
/****** Object:  StoredProcedure [dbo].[Category_GetAll]    Script Date: 10/2/2025 10:08:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Category_GetAll]
as
begin
	select* from dbo.Category
end
GO
/****** Object:  StoredProcedure [dbo].[Category_GetByID]    Script Date: 10/2/2025 10:08:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Category_GetByID](@ID int)
as
begin
	select* from dbo.Category where ID=@ID
end
GO

CREATE PROCEDURE [InsertFood]
    @ID int output,
    @Name nvarchar(1000),
    @Unit nvarchar(100),
    @FoodCategoryID int,
    @Price int,
    @Notes nvarchar(3000)
AS
INSERT INTO [Food]
    ([Name],[Unit],[FoodCategoryID],[Price],[Notes])
VALUES
    (@Name, @Unit, @FoodCategoryID, @Price, @Notes)

SELECT @ID = SCOPE_IDENTITY();
GO RETURN 1
GO

CREATE PROCEDURE [UpdateFood]
    @ID int,
    @Name nvarchar(1000),
    @Unit nvarchar(100),
    @FoodCategoryID int,
    @Price int,
    @Notes nvarchar(3000)
AS
UPDATE [Food]
SET
    [Name] = @Name,
    [Unit] = @Unit,
    [FoodCategoryID] = @FoodCategoryID,
    [Price] = @Price,
    [Notes] = @Notes
WHERE ID = @ID

IF @@ERROR <> 0
    RETURN 0
ELSE
    RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[Category_GetAll]    Script Date: 10/2/2025 10:08:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Category_GetAll]
as
begin
	select* from dbo.Category
end
GO
/****** Object:  StoredProcedure [dbo].[Category_GetByID]    Script Date: 10/2/2025 10:08:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Category_GetByID](@ID int)
as
begin
	select* from dbo.Category where ID=@ID
end
GO

CREATE PROCEDURE [InsertFood]
    @ID int output,
    @Name nvarchar(1000),
    @Unit nvarchar(100),
    @FoodCategoryID int,
    @Price int,
    @Notes nvarchar(3000)
AS
INSERT INTO [Food]
    ([Name],[Unit],[FoodCategoryID],[Price],[Notes])
VALUES
    (@Name, @Unit, @FoodCategoryID, @Price, @Notes)

SELECT @ID = SCOPE_IDENTITY();
GO RETURN 1
GO

CREATE PROCEDURE [UpdateFood]
    @ID int,
    @Name nvarchar(1000),
    @Unit nvarchar(100),
    @FoodCategoryID int,
    @Price int,
    @Notes nvarchar(3000)
AS
UPDATE [Food]
SET
    [Name] = @Name,
    [Unit] = @Unit,
    [FoodCategoryID] = @FoodCategoryID,
    [Price] = @Price,
    [Notes] = @Notes
WHERE ID = @ID

IF @@ERROR <> 0
    RETURN 0
ELSE
    RETURN 1
GO

CREATE PROCEDURE [InsertCategory]
    @ID int output,
    @Name nvarchar(1000),
    @Type int
AS
INSERT INTO [Category]
    ([Name],[Type])
VALUES
    (@Name, @Type)

SELECT @ID = SCOPE_IDENTITY();
GO RETURN 1
GO

CREATE PROCEDURE [GetOdersByDate]
	@StartDate Datetime,
	@EndDate Datetime
AS
BEGIN
SELECT [ID], [Name], [Amount], [Discount], [Tax], [CheckoutDate]
FROM [dbo].[Bills]
WHERE [CheckoutDate] BETWEEN @StartDate AND @EndDate
END

CREATE PROCEDURE [GetAccountInfo]
AS
BEGIN
SELECT *
FROM [dbo].[Account], [dbo].[RoleAccount]
WHERE Account.AccountName = RoleAccount.AccountName
END

CREATE PROCEDURE [GetRoleInfo]
AS
BEGIN
SELECT [Notes], [ID]
FROM [dbo].[Role]
END

CREATE PROCEDURE InsertAccount
    @AccountName NVARCHAR(100),
    @Password NVARCHAR(200),
    @FullName NVARCHAR(1000),
    @Email NVARCHAR(1000) = NULL, 
    @Tell NVARCHAR(200) = NULL, 
	@RoleID INT,
    @Actived BIT = 1, 
    @RoleNotes NVARCHAR(3000)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM [dbo].[Account] WHERE [AccountName] = @AccountName)
    BEGIN
        RAISERROR(N'Lỗi: Tên tài khoản đã tồn tại.', 16, 1)
        RETURN 0 
    END
    BEGIN TRY
        INSERT INTO [dbo].[Account]
            ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated])
        VALUES
            (@AccountName, @Password, @FullName, @Email, @Tell, GETDATE())
        INSERT INTO [dbo].[RoleAccount]
            ([RoleID], [AccountName], [Actived], [Notes])
        VALUES
            (@RoleID, @AccountName, @Actived, @RoleNotes)
        RETURN 1
    END TRY
    BEGIN CATCH
        THROW; 
        RETURN -1
    END CATCH
END

CREATE PROCEDURE UpdateAccount
    @AccountName NVARCHAR(100),
    @Password NVARCHAR(100),
    @FullName NVARCHAR(1000),
    @Email NVARCHAR(1000) = NULL,
    @Tell NVARCHAR(200) = NULL,
    @NewRoleID INT,
    @NewNotes NVARCHAR(100)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM [dbo].[Account] WHERE [AccountName] = @AccountName)
    BEGIN
        RAISERROR(N'Lỗi: Tên tài khoản không tồn tại.', 16, 1)
        RETURN 0
    END
    BEGIN TRANSACTION
    
    BEGIN TRY
        UPDATE [dbo].[Account]
        SET
            [FullName] = @FullName,
            [Email] = @Email,
            [Tell] = @Tell,
            [Password] = @Password
        WHERE 
            [AccountName] = @AccountName;
        UPDATE [dbo].[RoleAccount]
        SET
            [RoleID] = @NewRoleID,
            [Notes] = @NewNotes
        WHERE 
            [AccountName] = @AccountName;
        COMMIT TRANSACTION
        RETURN 1 
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
        THROW; 
        RETURN -1 
    END CATCH
END
GO

CREATE PROCEDURE InsertRole
    @ID INT,
    @RoleName NVARCHAR(1000),
    @Path NVARCHAR(3000) = NULL,
    @Notes NVARCHAR(3000) = NULL  
AS
BEGIN
    IF EXISTS (SELECT 1 FROM [dbo].[Role] WHERE [ID] = @ID)
    BEGIN
        RAISERROR(N'Lỗi: ID vai trò đã tồn tại.', 16, 1)
        RETURN 0
    END
    IF EXISTS (SELECT 1 FROM [dbo].[Role] WHERE [RoleName] = @RoleName)
    BEGIN
        RAISERROR(N'Lỗi: Tên vai trò đã tồn tại.', 16, 1)
        RETURN 0 
    END
    INSERT INTO [dbo].[Role]
        ([ID], [RoleName], [Path], [Notes])
    VALUES
        (@ID, @RoleName, @Path, @Notes)
    RETURN 1
END
GO

CREATE PROCEDURE UpdateRole
    @ID INT,
    @Name NVARCHAR(1000),
    @Path NVARCHAR(3000) = NULL,
    @Notes NVARCHAR(3000) = NULL
AS
BEGIN
    UPDATE [dbo].[Role]
    SET
        [RoleName] = @Name,
        [Path] = @Path,
        [Notes] = @Notes
    WHERE ID = @ID
    UPDATE [dbo].[RoleAccount]
        SET
            [Notes] = @Notes
        WHERE 
            [RoleID] = @ID 
    RETURN @@ROWCOUNT
END
GO

CREATE PROCEDURE GetBillDetailsAndAccount
    @Name NVARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT distinct
        B.CheckoutDate,  
        A.AccountName    
    FROM 
        dbo.Bills B
    INNER JOIN 
        dbo.BillDetail BD ON B.ID = BD.ID 
    INNER JOIN 
        dbo.Account A ON A.AccountName = B.Account AND A.AccountName = @Name
END
GO

CREATE PROCEDURE GetBillDetails
    @date datetime,
    @Name NVARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT distinct *    
    FROM 
        dbo.Bills B
    INNER JOIN 
        dbo.BillDetail BD ON B.ID = BD.ID 
    INNER JOIN 
        dbo.Account A ON A.AccountName = B.Account AND CheckoutDate = @date AND A.AccountName = @Name
END
GO
----------------------------------------------------

--------------Category Get All-----------------------
CREATE PROCEDURE [dbo].[Category_GetAll]
AS
SELECT * FROM Category
END
------------------Food Get All----------------------
CREATE PROCEDURE [dbo].[Food_GetAll]
AS
SELECT * FROM Food
END
-------------------Category Insert Update Delete-----------------
ALTER PROCEDURE [dbo].[Category_InsertUpdateDelete]
    @ID int output, 
    @Name nvarchar(200),
    @Type int,
    @Action INT 
AS
IF @Action = 0
BEGIN
    INSERT INTO [Category] ([Name], [Type])
    VALUES (@Name, @Type)
    SET @ID = @@identity 
END
-- Nếu Action = 1, thực hiện cập nhật dữ liệu
ELSE IF @Action = 1
BEGIN
    UPDATE [Category] SET [Name] = @Name, [Type]=@Type
    WHERE [ID] = @ID
END
-- Nếu Action = 2, thực hiện xóa dữ liệu
ELSE IF @Action = 2
BEGIN
    DELETE FROM [Category] WHERE [ID] = @ID
END
------------------Food Insert Update Delete--------------------
CREATE PROCEDURE [dbo].[Food_InsertUpdateDelete]
    @ID int output, -- Biến ID tự tăng, khi thêm xong phải lấy ra
    @Name nvarchar(1000),
    @Unit nvarchar(100),
    @FoodCategoryID int,
    @Price int,
    @Notes nvarchar(3000),
    @Action INT -- Biến cho biết thêm, xóa, hay sửa
AS
-- Nếu Action = 0 -- Nếu Action = 0, thêm dữ liệu
IF @Action = 0
BEGIN
    INSERT INTO [Food]
    ([Name], [Unit], [FoodCategoryID], [Price], [Notes])
    VALUES (@Name, @Unit, @FoodCategoryID, @Price, @Notes)
    SET @ID = @@identity -- Thiết lập ID tự tăng
END
ELSE IF @Action = 1 -- Nếu Action = 1, cập nhật dữ liệu
BEGIN
    UPDATE [Food]
    SET [Name] = @Name, [Unit]=@Unit, [FoodCategoryID]=@FoodCategoryID,
    [Price]=@Price, [Notes]=@Notes
    WHERE [ID] = @ID
END
ELSE IF @Action = 2 -- Nếu Action = 2, xóa dữ liệu
BEGIN
    DELETE FROM [Food] WHERE [ID] = @ID
END
-----------------------Delete by table name and id-------------------------
CREATE PROCEDURE [dbo].[_Delete]
    @TableName NVARCHAR(100),
    @ID INT
AS
BEGIN
    DECLARE @SQL NVARCHAR(MAX);
    SET @SQL = 'DELETE FROM ' + QUOTENAME(@TableName) + ' WHERE ID = @ID';
    EXEC sp_executesql @SQL, N'@ID INT', @ID;
END;
GO
-----------------------Get All by table name-------------------------
CREATE PROCEDURE [dbo].[_GetAll]
    @TableName NVARCHAR(100)
AS
BEGIN
    DECLARE @SQL NVARCHAR(MAX);
    SET @SQL = 'SELECT * FROM ' + QUOTENAME(@TableName);
    EXEC sp_executesql @SQL;
END;
GO
--Get by ID
CREATE PROCEDURE [dbo].[_GetByID]
    @TableName NVARCHAR(100),
    @ID INT
AS
BEGIN
    DECLARE @SQL NVARCHAR(MAX);
    SET @SQL = 'SELECT * FROM ' + QUOTENAME(@TableName) + ' WHERE ID = @ID';
    EXEC sp_executesql @SQL, N'@ID INT', @ID;
END;
GO
--------------------Account Get All--------------------
CREATE PROCEDURE [dbo].[Account_GetAll]
AS
SELECT * FROM [Account];
GO
----------Account insert update delete------------
CREATE PROCEDURE [dbo].[Account_InsertUpdateDelete]
    @AccountName NVARCHAR(100),
    @Password NVARCHAR(200),
    @FullName NVARCHAR(1000),
    @Email NVARCHAR(1000),
    @Tell NVARCHAR(200),
    @DateCreated SMALLDATETIME,
    @Action INT
AS
BEGIN
    IF @Action = 0 -- Thêm mới
    BEGIN
        INSERT INTO [Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated])
        VALUES (@AccountName, @Password, @FullName, @Email, @Tell, @DateCreated)
    END
    ELSE IF @Action = 1 -- Cập nhật
    BEGIN
        UPDATE [Account]
        SET [Password] = @Password, [FullName] = @FullName, [Email] = @Email,
            [Tell] = @Tell, [DateCreated] = @DateCreated
        WHERE [AccountName] = @AccountName
    END
    ELSE IF @Action = 2 -- Xóa
    BEGIN
        DELETE FROM [Account]
        WHERE [AccountName] = @AccountName
    END
END
GO
--------Bill Detail get All-----------
CREATE PROCEDURE [dbo].[BillDetails_GetAll]
AS
SELECT * FROM [BillDetail];
GO
---------Bill Deatil Insert Upadate Delete------------
CREATE PROCEDURE [dbo].[BillDetails_InsertUpdateDelete]
    @ID INT OUTPUT,
    @InvoiceID INT,
    @FoodID INT,
    @Quantity INT,
    @Action INT
AS
BEGIN
    IF @Action = 0 -- Thêm mới
    BEGIN
        INSERT INTO [BillDetail] ([InvoiceID], [FoodID], [Quantity])
        VALUES (@InvoiceID, @FoodID, @Quantity)
        SET @ID = SCOPE_IDENTITY()
    END
    ELSE IF @Action = 1 -- Cập nhật
    BEGIN
        UPDATE [BillDetail]
        SET [InvoiceID] = @InvoiceID, [FoodID] = @FoodID, [Quantity] = @Quantity
        WHERE [ID] = @ID
    END
    ELSE IF @Action = 2 -- Xóa
    BEGIN
        DELETE FROM [BillDetail]
        WHERE [InvoiceID] = @ID
    END
END
------------Bills Get all------------
CREATE PROCEDURE [dbo].[Bills_GetAll]
AS
SELECT * FROM [Bills];
GO
-------------Bills Insert Update Delete-----------
CREATE PROCEDURE [dbo].[Bills_InsertUpdateDelete]
    @ID INT OUTPUT,
    @Name NVARCHAR(1000),
    @TableID INT,
    @Amount INT,
    @Discount FLOAT,
    @Tax FLOAT,
    @Status BIT,
    @CheckoutDate SMALLDATETIME,
    @Account NVARCHAR(100),
    @Date DATETIME,
    @Total DECIMAL(18, 2),
    @Action INT
AS
BEGIN
    IF @Action = 0 -- Insert
    BEGIN
        INSERT INTO Bills ([Name], TableID, Amount, Discount, Tax, [Status], CheckoutDate, Account)
        VALUES (@Name, @TableID, @Amount, @Discount, @Tax, @Status, @CheckoutDate, @Account);

        SET @ID = SCOPE_IDENTITY();
    END
    ELSE IF @Action = 1 -- Update
    BEGIN
        UPDATE Bills
        SET [Name] = @Name,
            TableID = @TableID,
            Amount = @Amount,
            Discount = @Discount,
            Tax = @Tax,
            [Status] = @Status,
            CheckoutDate = @CheckoutDate,
            Account = @Account
        WHERE ID = @ID;
    END
    ELSE IF @Action = 2 -- Delete
    BEGIN
        DELETE FROM Bills WHERE ID = @ID;
    END
END
GO
----------------BillDetail Get All--------------
CREATE PROCEDURE [dbo].[GetBillDetails]
    @BillID INT
AS
BEGIN
    SELECT 
        bd.ID AS DetailID, 
        f.Name AS FoodName, 
        bd.Quantity, 
        f.Price, 
        (bd.Quantity * f.Price) AS TotalPrice 
    FROM BillDetail bd
    JOIN Food f ON bd.FoodID = f.ID
    WHERE bd.InvoiceID = @BillID;
END;
GO
----------------Get Bills by date range----------------
CREATE PROCEDURE [dbo].[GetBillsByDateRange]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SELECT 
        ID, 
        Name, 
        Amount, 
        Discount, 
        (Amount - Discount) AS NetAmount, 
        CheckoutDate 
    FROM Bills
    WHERE CheckoutDate BETWEEN @StartDate AND @EndDate;
END;
GO
---------------Merge 2 tables-------------------
CREATE PROCEDURE [dbo].[MergeTables]
    @TableID1 INT,
    @TableID2 INT
AS
BEGIN
    UPDATE [Bills]
    SET TableID = @TableID1
    WHERE TableID = @TableID2;

    DELETE FROM [Table] WHERE ID = @TableID2;
END;
GO
---------------------Role Get All-------------------
CREATE PROCEDURE [dbo].[Role_GetAll]
AS
SELECT * FROM [Role];
GO
-----------------------Role Insert Update Delete----------------
CREATE PROCEDURE [dbo].[Role_InsertUpdateDelete]
    @ID INT OUTPUT,
    @RoleName NVARCHAR(1000),
    @Path NVARCHAR(3000),
    @Notes NVARCHAR(3000),
    @Action INT
AS
BEGIN
    IF @Action = 0 -- Thêm mới
    BEGIN
        INSERT INTO [Role] ([RoleName], [Path], [Notes])
        VALUES (@RoleName, @Path, @Notes)
        SET @ID = SCOPE_IDENTITY()
    END
    ELSE IF @Action = 1 -- Cập nhật
    BEGIN
        UPDATE [Role]
        SET [RoleName] = @RoleName, [Path] = @Path, [Notes] = @Notes
        WHERE [ID] = @ID
    END
    ELSE IF @Action = 2 -- Xóa
    BEGIN
        DELETE FROM [Role]
        WHERE [ID] = @ID
    END
END
GO
----------------Role Account Get All---------------------
CREATE PROCEDURE [dbo].[RoleAccount_GetAll]
AS
SELECT * FROM [RoleAccount];
GO
-----------------Role Account Insert Update Delete----------
CREATE PROCEDURE [dbo].[RoleAccount_InsertUpdateDelete]
    @RoleID INT,
    @AccountName NVARCHAR(100),
    @Actived BIT,
    @Notes NVARCHAR(3000),
    @Action INT
AS
BEGIN
    IF @Action = 0 -- Thêm mới
    BEGIN
        INSERT INTO [RoleAccount] ([RoleID], [AccountName], [Actived], [Notes])
        VALUES (@RoleID, @AccountName, @Actived, @Notes)
    END
    ELSE IF @Action = 1 -- Cập nhật
    BEGIN
        UPDATE [RoleAccount]
        SET [Actived] = @Actived, [Notes] = @Notes
        WHERE [RoleID] = @RoleID AND [AccountName] = @AccountName
    END
    ELSE IF @Action = 2 -- Xóa
    BEGIN
        DELETE FROM [RoleAccount]
        WHERE [RoleID] = @RoleID AND [AccountName] = @AccountName
    END
END
GO
--------------------Table Get All----------------
CREATE PROCEDURE [dbo].[Table_GetAll]
AS
SELECT * FROM [Table01];
GO
--------------------Table Insert Update Delete------------------
CREATE PROCEDURE [dbo].[Table_InsertUpdateDelete]
    @ID INT OUTPUT,
    @Name NVARCHAR(1000) = NULL,
    @Status INT = NULL,
    @Capacity INT = NULL,
    @Action INT
AS
BEGIN
    IF @Action = 0 -- Insert
    BEGIN
        INSERT INTO [Table01] ([Name], [Status], Capacity)
        VALUES (@Name, @Status, @Capacity);
        SET @ID = SCOPE_IDENTITY();
    END
    ELSE IF @Action = 1 -- Update
    BEGIN
        UPDATE [Table01]
        SET [Name] = @Name,
            [Status] = @Status,
            Capacity = @Capacity
        WHERE ID = @ID;
    END
    ELSE IF @Action = 2 -- Delete
    BEGIN
        DELETE FROM [Table01] WHERE ID = @ID;
    END
END;
GO
---------------Get order by bill ID---------------------
ALTER PROCEDURE [dbo].[GetOrderByBillID]
    @ID int
AS
BEGIN
    SELECT Food.ID, Food.Name, Food.Notes, Food.Price, Food.Unit FROM Food, BillDetail 
    WHERE BillDetail.FoodID = Food.ID AND BillDetail.ID = @ID
END
select * from Bills
select * from BillDetail, Bills where BillDetail.ID = Bills.ID
delete from BillDetail where InvoiceID = 17
delete from [dbo].[Bills] where Bills.ID = 17
----------------Get bill has status = 0-------------------
ALTER PROCEDURE [dbo].[GetBillByStatus0]
AS
BEGIN
    SELECT * FROM Bills WHERE Status = 0;
END
--------------Get food by bill ID------------------
ALTER PROCEDURE [dbo].[GetFoodByBillID]
@ID int
AS
BEGIN
SELECT Food.Name, Price, Quantity, FoodID, BillDetail.ID
FROM BillDetail, Bills, Food
WHERE BillDetail.InvoiceID = Bills.ID AND Food.ID = BillDetail.FoodID AND Bills.ID = @ID
END

